# for n in * .[^.]**; do printf '%s\n' "$n"; done

.all-contributorsrc
.babelrc
.DS_Store
.eslintrc.js
.git
.github
.gitignore
.loki
.npmignore
.nvmrc
.prettierrc.toml
.storybook
# dist
images
jest.config.js
# LICENSE
node_modules
# package.json
# README.md
src
stories
storybook-static
tsconfig.json
webpack.production.config.js
yarn.lock
yarn-error.log